# ==============================
# Node.js
# ==============================
node_modules/
**/node_modules/

# Environment variables
.env
.env.*
.envrc

# React/Vite
frontend/dist/
dist/

# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*.py[codz]
*$py.class
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Testing / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask
instance/
.webassets-cache

# Scrapy
.scrapy

# Sphinx
docs/_build/

# Jupyter
.ipynb_checkpoints

# PDM
.pdm-python
.pdm-build/

# Pixi
.pixi

# PEP 582
__pypackages__/

# Celery
celerybeat-schedule
celerybeat.pid

# Redis
*.rdb
*.aof
*.pid

# RabbitMQ
mnesia/
rabbitmq/
rabbitmq-data/

# ActiveMQ
activemq-data/

# Environments
 Shalini-B-A
*.db
.env
.envrc
 main
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder
.spyderproject
.spyproject

# Rope
.ropeproject

# mkdocs
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# pytype
.pytype/

# Cython
cython_debug/

# PyCharm
.idea/

# Visual Studio Code
.vscode/

# Temporary Python files
tempCodeRunnerFile.py

# Ruff
.ruff_cache/

# PyPI
.pypirc

# Abstra
.abstra/

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/

# Streamlit
.streamlit/secrets.toml